.App {
  display: flex;
  height: 100vh;
}

.map-controller {
  width: 18%;
  padding: 1rem;
}

.map-controller li {
  cursor: pointer;
}

@media (max-width: 980px) {
  .map-controller {
    width: 30%;
    padding: 1rem;
  }
}

@media (max-width: 590px) {
  .App {
    flex-direction: column;
  }

  .map-controller {
    width: 100%;
    padding: 1rem;
  }
}

.map {
  flex-grow: 1;
  width: 100%;
}
